@import url(./css/header.css);
@import url(./css/banner.css);
:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --degrade:linear-gradient(18deg, rgba(101,63,251,1) 0%, rgba(252,70,107,1) 100%);
    --fonte-principal:"Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}
